# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Scikit Learn
3. Pandas
4. Tensorflow

| Data Science Tools |
----------------------
| Visual Studio Code |
| Jupyter Lab        |
| Jupyter Notebook   |
| Google Colab       |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
f"{(200 / 60):=.3f} hours"

'3.333 hours'

**Objectives**:
- List popular languages for data science
- List popular libraries for data science
- Perform Arithmetic Operations in Python in Jupyter
- Create a Table in Markdown

## Author
Devan Selvaraj